.hero {
  color: #FFFFFF;
  height: 1080px;
  background-image: url("../../images/hero-image.jpg");
  background-repeat: no-repeat;
}

.hero-info {
  margin: 145px 314px 296px 1082px;
}
.hero-info__name {
  font-weight: 600;
  font-size: 24px;
  text-transform: uppercase;
}
.hero-info__title {
  margin-top: 17px;
  margin-bottom: 37px;
  font-weight: 700;
  font-size: 60px;
  text-transform: uppercase;
}
.hero-info__description {
  margin-bottom: 54px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
}
.hero-info__price {
  display: flex;
  align-items: baseline;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.22;
  margin-bottom: 54px;
}
.hero-info__price-number {
  font-weight: 700;
  font-size: 40px;
  margin-right: 10px;
}

.header {
  display: flex;
  align-items: center;
  padding: 54px 312px 0;
  margin-left: auto;
  margin-right: auto;
}
.header__logo {
  margin-right: 295px;
}

.header-list {
  display: flex;
}
.header-list__item > a {
  color: white;
}
.header-list__item:not(:first-child) {
  margin-left: 40px;
}
.header-list__text {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
}

.history-section {
  background-color: #FFFCF6;
}
.history-section__wrapper {
  display: flex;
  align-items: center;
}
.history-section__image {
  display: block;
}

.history-info {
  width: 636px;
  margin-right: 134px;
}
.history-info__text {
  margin-top: 48px;
  font-size: 20px;
  letter-spacing: 0.02em;
}
.history-info__text:first-child {
  margin-bottom: 24px;
}

.production-section {
  background-color: #F8F3E9;
}
.production-section__title {
  margin-bottom: 90px;
  text-align: center;
}

.production-card {
  max-width: 330px;
}
.production-card__description {
  margin-top: 32px;
  font-size: 20px;
}
.production-card__image {
  display: block;
}

@media screen and (min-width: 769px) {
  .production-section__cards-box {
    display: flex;
    justify-content: space-between;
  }
  .production-card {
    width: 100%;
  }
}
.collection-section {
  background-color: #FFFCF6;
}
.collection-section__container {
  padding: 180px 312px;
}
.collection-section__title {
  text-align: center;
}

.collection-card {
  margin-top: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.collection-card:nth-child(odd) {
  flex-direction: row-reverse;
}
.collection-card__title {
  margin-bottom: 8px;
  color: #50504F;
  font-weight: 600;
  font-size: 36px;
}
.collection-card__subtitle {
  margin-bottom: 38px;
  font-weight: 600;
  font-size: 20px;
}
.collection-card__description {
  width: 635px;
  font-size: 16px;
  line-height: 1.1875;
  margin-bottom: 38px;
}
.collection-card__property {
  display: flex;
  align-items: center;
}
.collection-card__property:not(:last-child) {
  margin-bottom: 19px;
}
.collection-card__property-text {
  color: #343434;
  font-size: 20px;
}

.collection-card__info > p:nth-of-type(1) {
  margin-bottom: 19px;
}

.packing-section {
  background-color: #F8F3E9;
}
.packing-section__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.packing-info {
  width: 631px;
}
.packing-info__description {
  margin-top: 40px;
  margin-bottom: 90px;
  font-size: 24px;
}
.packing-info__box {
  color: #50504F;
  font-size: 16px;
}
.packing-info__box.name {
  margin-bottom: 10px;
}

.benefits-section {
  margin-bottom: 180px;
}
.benefits-section__card-wrapper {
  display: flex;
}
.benefits-section__title {
  margin-bottom: 90px;
  text-align: center;
}

.benefit-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.benefit-card:not(:last-child) {
  margin-right: 24px;
}
.benefit-card__text {
  margin-top: 32px;
  font-size: 22px;
  line-height: 1.22;
  text-align: center;
  color: #252525;
}

.reviews-section {
  margin-bottom: 180px;
}
.reviews-section__title {
  margin-bottom: 90px;
  text-align: center;
}
.reviews-section__review-wrapper {
  display: flex;
}

.review-card {
  padding: 32px;
  background-color: #F8F3E9;
}
.review-card:not(:last-child) {
  margin-right: 24px;
}
.review-card > div {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.review-card__comment {
  font-size: 20px;
}
.review-card__avatar {
  border-radius: 50%;
  margin-right: 12px;
}
.review-card__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.review-card__email {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  text-decoration-line: underline;
  color: #50504F;
}

.order-section {
  margin-bottom: 180px;
  display: flex;
  align-items: center;
}

.order-form {
  margin-left: 135px;
  width: 525px;
}
.order-form__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  text-transform: uppercase;
  color: #50504F;
}
.order-form__field {
  position: relative;
  margin-bottom: 50px;
}
.order-form__input {
  display: block;
  margin-bottom: 50px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #000000;
  background-color: inherit;
  outline: none;
  font-family: inherit;
}
.order-form__label {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 19px;
  cursor: text;
  transition: transform 100ms linear;
}
.order-form__text {
  margin-bottom: 60px;
  font-size: 18px;
  line-height: 1.22;
}
.order-form__button {
  margin-top: 40px;
}

.form-check {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}
.form-check__box {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 16px;
  height: 16px;
  position: absolute;
  background-image: url("../../images/icons/unchecked-icon.svg");
}
.form-check__box:checked {
  background-image: url("../../images/icons/checked-icon.svg");
}
.form-check__label {
  margin-left: 26px;
  font-size: 12px;
  line-height: 15px;
  color: #252525;
}

.order-form__input:not(:-moz-placeholder-shown).order-form__input:not(:focus) ~ .order-form__label {
  transform: translate(0, -20px);
  font-size: 12px;
  line-height: 1.25;
}

.order-form__input:focus ~ .order-form__label,
.order-form__input:not(:placeholder-shown).order-form__input:not(:focus) ~ .order-form__label {
  transform: translate(0, -20px);
  font-size: 12px;
  line-height: 1.25;
}

.contacts-section__title {
  text-align: center;
  margin-bottom: 90px;
}
.contacts-section__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contacts-info__branch {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
}
.contacts-info__city {
  margin-bottom: 6px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #252525;
}
.contacts-info__address {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 1.2;
}
.contacts-info__work-hours {
  margin-top: 50px;
  font-size: 20px;
  line-height: 1.2;
}
.contacts-info__work-hours > span {
  margin-right: 12px;
  font-weight: 700;
}

.footer {
  background-color: #E2D4BD;
}
.footer__container {
  padding: 90px 312px;
  display: flex;
  align-items: center;
}
.footer__logo {
  margin-right: 233px;
}
.footer__logo-image {
  display: block;
}

.footer-contacts {
  margin-right: 36px;
  display: flex;
  font-size: 20px;
  line-height: 1.2;
}
.footer-contacts__contact:first-child {
  margin-right: 30px;
}
.footer-contacts__contact-link {
  text-decoration: none;
  color: #252525;
}
.footer-contacts__contact-link span {
  font-weight: 700;
  margin-right: 8px;
}

.footer-navigation {
  display: flex;
  margin-right: 0;
  margin-left: auto;
}
.footer-navigation__link {
  display: block;
  text-decoration: none;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.footer-navigation__link:not(:last-child) {
  margin-right: 32px;
}

body {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  color: #252525;
}

.container {
  margin: 0 auto;
  max-width: 1296px;
}

@media screen and (max-width: 479px) {
  .container {
    width: 360px;
  }
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 688px;
    padding-top: 66px;
    padding-bottom: 90px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
@media screen and (min-width: 1770px) {
  .container {
    width: 1920px;
  }
}
.section-title {
  color: #50504F;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  text-transform: uppercase;
}

.other-sections {
  background-color: #FFFCF6;
}

.logotype {
  display: block;
}

.button {
  padding: 20px 71px;
  background-color: #A70B27;
  border-radius: 60px;
  border: none;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #FFFFFF;
  cursor: pointer;
}

.button:is(:hover, :focus) {
  background-color: #FF0F3A;
}/*# sourceMappingURL=main.css.map */