.form {
  font-size: 16px;
  line-height: 19px;
  color: #252525;
}
@media screen and (min-width: 768px) {
  .form {
    max-width: 448px;
    margin-left: auto;
    margin-right: auto;
  }
}

.form-input {
  display: block;
  margin-bottom: 50px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #000000;
  background-color: inherit;
  outline: none;
  font-family: inherit;
}

.form-label {
  position: absolute;
  top: 0;
  cursor: text;
  transition: transform 100ms linear;
  color: #252525;
}

.form-input:not(:-moz-placeholder-shown).form-input:not(:focus) ~ .form-label {
  transform: translate(0, -20px);
  font-size: 12px;
  line-height: 1.25;
}

.form-input:focus ~ .form-label,
.form-input:not(:placeholder-shown).form-input:not(:focus) ~ .form-label {
  transform: translate(0, -20px);
  font-size: 12px;
  line-height: 1.25;
}

.form-button {
  margin-top: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.form-check {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}
.form-check__box {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 16px;
  height: 16px;
  position: absolute;
  background-image: url("../../images/icons/unchecked-icon.svg");
}
.form-check__box:checked {
  background-image: url("../../images/icons/checked-icon.svg");
}
.form-check__label {
  margin-left: 26px;
  color: #252525;
}

.hero {
  color: #FFFFFF;
  background-image: url("../../images/320px/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: url("../../images/768px/hero.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: url("../../images/hero-image.jpg");
  }
}

.hero-info {
  padding-bottom: 150px;
}
@media screen and (min-width: 768px) {
  .hero-info {
    max-width: 567px;
    padding-bottom: 250px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-info {
    margin-left: auto;
    margin-right: 0;
    padding-bottom: 296px;
  }
}
.hero-info__name {
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .hero-info__name {
    font-size: 24px;
  }
}
.hero-info__title {
  margin-top: 10px;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .hero-info__title {
    margin-top: 15px;
    margin-bottom: 25px;
    font-size: 60px;
    line-height: 73px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-info__title {
    margin-top: 17px;
    margin-bottom: 37px;
  }
}
.hero-info__description {
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
}
@media screen and (min-width: 768px) {
  .hero-info__description {
    margin-bottom: 15px;
    font-size: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-info__description {
    margin-bottom: 54px;
  }
}
.hero-info__price {
  display: flex;
  align-items: baseline;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .hero-info__price {
    margin-bottom: 25px;
    font-size: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-info__price {
    margin-bottom: 54px;
  }
}
.hero-info__price-number {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
}
@media screen and (min-width: 768px) {
  .hero-info__price-number {
    font-size: 40px;
    line-height: 48px;
  }
}

.header {
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 177px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .header {
    padding-top: 54px;
  }
}

.menu {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}
.menu__list {
  list-style-type: none;
  display: flex;
}
.menu__link {
  color: #fff;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .menu__link {
    padding-top: 23px;
    padding-bottom: 23px;
    transition: transform 100ms ease-out;
  }
}
.menu__link:hover {
  text-decoration: underline;
}
.menu__link:not(:last-child) {
  margin-right: 40px;
}
.menu__cross-icon {
  display: none;
}

@media screen and (max-width: 1199px) {
  .menu {
    color: #50504F;
    cursor: pointer;
  }
  .menu__nav {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #f8f3e9;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: transform 200ms linear, opacity 200ms linear, visibility 0ms 200ms;
  }
  .menu__nav.is-open {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transition: transform 200ms linear, opacity 200ms linear, visibility 0ms;
  }
  .menu__list {
    list-style: none;
    display: flex;
    flex-direction: column;
  }
  .menu__link {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #50504F;
  }
  .menu__link:not(:last-child) {
    margin-bottom: 60px;
  }
  .menu__cross-icon {
    position: absolute;
    top: 30px;
    right: 30px;
    display: inline;
  }
}
@media screen and (min-width: 1199px) {
  .burger-icon {
    display: none;
  }
}

.history-section {
  background-color: #FFFCF6;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .history-section {
    padding-top: 90px;
    padding-bottom: 114px;
  }
}
@media screen and (min-width: 1200px) {
  .history-section {
    padding-top: 180px;
    padding-bottom: 180px;
  }
}
@media screen and (min-width: 1200px) {
  .history-section__wrapper {
    display: flex;
    align-items: center;
  }
}
.history-section__image {
  margin-top: 30px;
  display: block;
}
@media screen and (min-width: 768px) {
  .history-section__image {
    margin-top: 45px;
  }
}
@media screen and (min-width: 1200px) {
  .history-section__image {
    margin-top: 0;
  }
}

.first-text {
  margin-bottom: 19px;
}

.history-info {
  text-align: left;
}
@media screen and (min-width: 1200px) {
  .history-info {
    margin-right: 134px;
  }
}
.history-info__title {
  margin-bottom: 30px;
  margin-top: 0;
}
@media screen and (min-width: 768px) {
  .history-info__title {
    margin-bottom: 45px;
  }
}
@media screen and (min-width: 1200px) {
  .history-info__title {
    margin-bottom: 48px;
  }
}
.history-info__text {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;
  margin-top: 0;
}
@media screen and (min-width: 1200px) {
  .history-info__text {
    font-size: 20px;
    line-height: 1.2;
  }
}

.production-section {
  background-color: #F8F3E9;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .production-section {
    padding-top: 66px;
    padding-bottom: 90px;
  }
}
@media screen and (min-width: 1200px) {
  .production-section {
    padding-top: 180px;
    padding-bottom: 180px;
  }
}
@media screen and (min-width: 1200px) {
  .production-section__cards-box {
    display: flex;
    justify-content: space-between;
  }
}
.production-section__title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .production-section__title {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .production-section__title {
    text-align: center;
    margin-bottom: 90px;
  }
}

.production-card {
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .production-card {
    margin-top: 45px;
  }
}
@media screen and (min-width: 1200px) {
  .production-card {
    max-width: 330px;
  }
}
.production-card__description {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 19px;
}
@media screen and (min-width: 768px) {
  .production-card__description {
    margin-top: 25px;
    font-size: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .production-card__description {
    margin-top: 32px;
  }
}
.production-card__image {
  display: block;
}

.collection-section {
  background-color: #FFFCF6;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .collection-section {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}
@media screen and (min-width: 1200px) {
  .collection-section {
    padding-top: 180px;
    padding-bottom: 180px;
  }
}
.collection-section__title {
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .collection-section__title {
    margin-bottom: 45px;
  }
}
@media screen and (min-width: 1200px) {
  .collection-section__title {
    margin-bottom: 90px;
  }
}
.collection-section__image {
  margin-bottom: 20px;
}

.collection-card:not(:last-child) {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .collection-card:not(:last-child) {
    margin-bottom: 45px;
  }
}
@media screen and (min-width: 768px) {
  .collection-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .collection-card:nth-child(even) {
    flex-direction: row-reverse;
  }
}
@media screen and (min-width: 768px) {
  .collection-card__info {
    max-width: 326px;
  }
}
@media screen and (min-width: 1200px) {
  .collection-card__info {
    max-width: 634px;
  }
}
.collection-card__title {
  margin-bottom: 5px;
  color: #50504F;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}
@media screen and (min-width: 1200px) {
  .collection-card__title {
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 8px;
  }
}
.collection-card__subtitle {
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 20px;
}
@media screen and (min-width: 768px) {
  .collection-card__subtitle {
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .collection-card__subtitle {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 38px;
  }
}
.collection-card__description {
  font-size: 16px;
  line-height: 1.1875;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .collection-card__description {
    margin-bottom: 20px;
  }
}

.collection-card__info > p:nth-of-type(1) {
  margin-bottom: 19px;
}

.card-property {
  display: flex;
  align-items: center;
}
.card-property:not(:last-child) {
  margin-bottom: 9px;
}
@media screen and (min-width: 1200px) {
  .card-property:not(:last-child) {
    margin-bottom: 19px;
  }
}
.card-property__image {
  display: block;
}
.card-property__text {
  color: #343434;
  font-size: 16px;
  line-height: 19px;
}
@media screen and (min-width: 768px) {
  .card-property__text {
    font-size: 15px;
    line-height: 18px;
  }
}
@media screen and (min-width: 1200px) {
  .card-property__text {
    font-size: 20px;
    line-height: 24px;
  }
}

.icon-1 {
  width: 14px;
  height: 14px;
}
@media screen and (min-width: 768px) {
  .icon-1 {
    width: 18px;
    height: 18px;
  }
}
@media screen and (min-width: 1200px) {
  .icon-1 {
    width: 32px;
    height: 24px;
  }
}

.icon-2 {
  width: 15px;
  height: 16px;
}
@media screen and (min-width: 768px) {
  .icon-2 {
    width: 21px;
    height: 22px;
  }
}
@media screen and (min-width: 1200px) {
  .icon-2 {
    width: 37px;
    height: 28px;
  }
}

.icon-3 {
  width: 14px;
  height: 21px;
}
@media screen and (min-width: 768px) {
  .icon-3 {
    width: 18px;
    height: 27px;
  }
}
@media screen and (min-width: 1200px) {
  .icon-3 {
    width: 32px;
    height: 36px;
  }
}

.packing-section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #F8F3E9;
}
@media screen and (min-width: 768px) {
  .packing-section {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}
@media screen and (min-width: 1200px) {
  .packing-section {
    padding-top: 180px;
    padding-bottom: 180px;
  }
}
@media screen and (min-width: 768px) {
  .packing-section__wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
}
.packing-section__title {
  margin-bottom: 30px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .packing-section__title {
    margin-bottom: 45px;
  }
}
@media screen and (min-width: 1200px) {
  .packing-section__title {
    margin-bottom: 90px;
  }
}
.packing-section__image {
  display: block;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .packing-info {
    margin-right: 140px;
  }
}
.packing-info__description {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 19px;
}
@media screen and (min-width: 768px) {
  .packing-info__description {
    margin-bottom: 25px;
  }
}
@media screen and (min-width: 1200px) {
  .packing-info__description {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 90px;
  }
}
.packing-info__box {
  color: #50504F;
  font-size: 16px;
  text-align: center;
}
.packing-info__box.name {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 5px;
}

@media screen and (min-width: 768px) {
  .packing-info {
    display: flex;
    flex-direction: column;
  }
  .packing-info__box.name {
    order: 1;
    text-align: left;
  }
  .packing-info__box {
    order: 2;
    text-align: left;
  }
}
.benefits-section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .benefits-section {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits-section {
    padding-top: 180px;
    padding-bottom: 180px;
  }
}
@media screen and (min-width: 768px) {
  .benefits-section__card-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 30px;
         column-gap: 30px;
    row-gap: 45px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits-section__card-wrapper {
    display: flex;
    justify-content: space-between;
  }
}
.benefits-section__title {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .benefits-section__title {
    margin-bottom: 45px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits-section__title {
    margin-bottom: 90px;
  }
}

.benefit-card {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .benefit-card {
    margin-top: 0;
  }
}
.benefit-card__icon {
  width: 30px;
  height: 46px;
}
@media screen and (min-width: 768px) {
  .benefit-card__icon {
    width: 45px;
    height: 70px;
  }
}
.benefit-card__text {
  margin-top: 15px;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #252525;
}
@media screen and (min-width: 768px) {
  .benefit-card__text {
    font-size: 20px;
    line-height: 24px;
  }
}

.reviews-section {
  margin-bottom: 180px;
}
.reviews-section__title {
  margin-bottom: 90px;
  text-align: center;
}
.reviews-section__review-wrapper {
  display: flex;
}

.review-card {
  min-width: 0;
  min-height: 268px;
  padding: 32px;
  background-color: #F8F3E9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.review-card:not(:last-child) {
  margin-right: 24px;
}
.review-card > div {
  display: flex;
  align-items: center;
  margin-top: 30px;
  min-width: 0;
}
.review-card__comment {
  font-size: 20px;
  min-width: 0;
}
.review-card__avatar {
  border-radius: 50%;
  margin-right: 12px;
}
.review-card__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.review-card__email {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  text-decoration-line: underline;
  color: #50504F;
}

@media screen and (min-width: 1200px) {
  .order-section {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .order-form {
    margin-right: 120px;
    margin-left: 120px;
  }
}
@media screen and (min-width: 1200px) {
  .order-form {
    margin-left: 135px;
    margin-right: 110px;
  }
}
.order-form__title {
  margin-top: 30px;
  margin-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #50504F;
}
@media screen and (min-width: 768px) {
  .order-form__title {
    margin-top: 45px;
  }
}
@media screen and (min-width: 1200px) {
  .order-form__title {
    margin-top: 0;
    margin-bottom: 30px;
  }
}
.order-form__field {
  position: relative;
  margin-bottom: 50px;
}
.order-form__text {
  margin-bottom: 49px;
}

.contacts-section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .contacts-section {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-section {
    padding-top: 180px;
    padding-bottom: 180px;
  }
}
.contacts-section__title {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 0;
}
@media screen and (min-width: 768px) {
  .contacts-section__title {
    margin-bottom: 45px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-section__title {
    margin-bottom: 90px;
  }
}
@media screen and (min-width: 768px) {
  .contacts-section__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.contacts-section__map {
  width: 320px;
  height: 320px;
}
@media screen and (min-width: 768px) {
  .contacts-section__map {
    width: 330px;
    height: 251px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-section__map {
    width: 745px;
    height: 421px;
  }
}

.contacts-info {
  font-size: 16px;
  line-height: 19px;
}
@media screen and (min-width: 1200px) {
  .contacts-info {
    font-size: 20px;
    line-height: 1.2;
  }
}
.contacts-info__branch {
  margin-bottom: 20px;
  font-weight: 700;
}
.contacts-info__city {
  margin-bottom: 6px;
  font-weight: 600;
}
.contacts-info__address {
  margin-bottom: 20px;
}
.contacts-info__work-hours {
  margin-bottom: 30px;
}
.contacts-info__work-hours > span {
  margin-right: 12px;
  font-weight: 700;
}

.footer {
  background-color: #E2D4BD;
  padding-top: 15px;
  padding-bottom: 25px;
}
@media screen and (min-width: 768px) {
  .footer {
    padding-top: 41px;
    padding-bottom: 41px;
  }
}
.footer__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 25px;
}
@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.footer-contacts {
  list-style: none;
  margin-right: 36px;
  grid-area: 2/1/3/3;
}
@media screen and (min-width: 768px) {
  .footer-contacts {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer-contacts {
    display: flex;
  }
}
.footer-contacts__contact:first-child {
  margin-right: 30px;
}
.footer-contacts__contact-link {
  text-decoration: none;
  color: #252525;
  font-size: 16px;
  line-height: 19px;
}
@media screen and (min-width: 1200px) {
  .footer-contacts__contact-link {
    font-size: 20px;
    line-height: 1.2;
  }
}
.footer-contacts__contact-link span {
  font-weight: 700;
}

.footer-navigation {
  display: flex;
  align-items: center;
  margin-right: 0;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .footer-navigation {
    order: 1;
    margin-left: 0;
  }
}
.footer-navigation__link {
  text-decoration: none;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.footer-navigation__link:not(:last-child) {
  margin-right: 26px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

@media screen and (min-width: 768px) {
  .backdrop {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 200ms ease-in;
  }
  .backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(1);
  }
  .modal {
    position: fixed;
    width: 480px;
    padding: 105px 83px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    background-color: #FFFCF6;
    border-radius: 20px;
    color: #50504F;
    transition: transform 200ms ease-in;
  }
  .modal-form__title {
    margin-bottom: 58px;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #50504F;
  }
  .modal-form__field {
    position: relative;
    margin-bottom: 50px;
  }
  .modal-form__text {
    margin-bottom: 49px;
  }
  .cross-icon {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
  }
}
.pop-up {
  position: absolute;
  padding: 95px 20px;
  width: 100%;
  background-color: #F8F3E9;
  transition: transform 250ms linear;
}
.pop-up__icon {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}

.pop-up.visible {
  transform: translateY(-100%);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
form,
label,
caption,
table,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: inherit;
  vertical-align: middle;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  color: #252525;
}

.container {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1296px;
}
@media screen and (max-width: 359px) {
  .container {
    overflow: auto;
  }
}
@media screen and (min-width: 360px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
    width: 360px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1296px;
    padding-left: 0;
    padding-right: 0;
  }
}

.section-title {
  color: #50504F;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .section-title {
    font-size: 32px;
    line-height: 39px;
  }
}
@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 40px;
  }
}

.other-sections {
  background-color: #FFFCF6;
}

.logotype {
  display: block;
}

.button {
  padding: 20px 71px;
  background-color: #A70B27;
  border-radius: 60px;
  border: none;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #FFFFFF;
  cursor: pointer;
}

.button:is(:hover, :focus) {
  background-color: #FF0F3A;
}

@media (prefers-reduced-motion) {
  section {
    opacity: 1;
  }
}/*# sourceMappingURL=main.css.map */