@import './utils/variables';
@import './components/hero';
@import './components/header';
@import './components/history';
@import './components/production';
@import './components/collection';
@import './components/packing';
@import './components/benefits';
@import './components/reviews';
@import './components/order';
@import './components/contacts';
@import './components/footer';

body {
  width: 1920px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

p, h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  text-decoration: none;
}


.container {
  padding: 180px 312px;
}

.section-title {
  color: $headingColor;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  text-transform: uppercase;
}

.other-sections {
  background-color: $lightSectionColor;
}