@import './utils/variables';
@import './components/hero';
@import './components/header';
@import './components/history';
@import './components/production';
@import './components/collection';
@import './components/packing';
@import './components/benefits';
@import './components/reviews';
@import './components/order';
@import './components/contacts';
@import './components/footer';

*,
*:before,
*:after {
  box-sizing: border-box;
}


body {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  color: #252525;
}

.container {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1296px;

  @media screen and (max-width: 359px) {
    overflow: auto;
  }
  @media screen and (min-width: 360px) {
    padding-left: 40px;
    padding-right: 40px;
    width: 360px;
  }
  @media screen and (min-width: 768px) {
    padding-left: 0;
    padding-right: 0;
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.section-title {
  color: $headingColor;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    font-size: 32px;
    line-height: 39px;
  }
}

.other-sections {
  background-color: $lightSectionColor;
}

.logotype {
  display: block;
}

.button {
  padding: 20px 71px;
  background-color: #A70B27;
  border-radius: 60px;
  border: none;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #FFFFFF;
  cursor: pointer;
}

.button:is(:hover, :focus) {
  background-color: #FF0F3A;
}