@import './utils/variables';
@import './components/hero';
@import './components/header';
@import './components/history';
@import './components/production';
@import './components/collection';
@import './components/packing';
@import './components/benefits';
@import './components/reviews';
@import './components/order';
@import './components/contacts';
@import './components/footer';

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
form,
label,
caption,
table,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: inherit;
  vertical-align: middle;
}


body {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  color: #252525;
}

.container {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1296px;

  @media screen and (max-width: 359px) {
    overflow: auto;
  }
  @media screen and (min-width: 360px) {
    padding-left: 20px;
    padding-right: 20px;
    width: 360px;
  }
  @media screen and (min-width: 768px) {
    padding-left: 40px;
    padding-right: 40px;
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1296px;
  }
}

.section-title {
  color: $headingColor;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    font-size: 32px;
    line-height: 39px;
  }
}

.other-sections {
  background-color: $lightSectionColor;
}

.logotype {
  display: block;
}

.button {
  padding: 20px 71px;
  background-color: #A70B27;
  border-radius: 60px;
  border: none;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #FFFFFF;
  cursor: pointer;
}

.button:is(:hover, :focus) {
  background-color: #FF0F3A;
}



