@import '../utils/variables';


.benefits-section {
  margin-bottom: 180px;

  &__card-wrapper {
    display: flex;
  }

  &__title {
    margin-bottom: 90px;
    text-align: center;
  }
}

.benefit-card {
  display: flex;
  flex-direction: column;
  align-items: center;

  &:not(:last-child) {
    margin-right: 24px;
  }

  &__text {
    margin-top: 32px;
    font-size: 22px;
    line-height: 1.22;
    text-align: center;
    color: $textColor;
  }
}


