@import '../utils/variables';


.benefits-section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 768px) {
    padding-top: 90px;
    padding-bottom: 90px;
  }

  &__card-wrapper {
    @media screen and (min-width: 768px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 30px;
    }
    @media screen and (min-width: 1200px) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__title {
    text-align: center;
  }
}

.benefit-card {
  margin-top: 30px; 
  display: flex;
  flex-direction: column;
  align-items: center;

  // &:not(:last-child) {
  //   margin-right: 24px;
  // }

  &__icon {
    width: 30px;
    height: 46px;

    @media screen and (min-width: 768px) {
      width: 45px;
      height: 70px;
    }
  }

  &__text {
    margin-top: 15px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: $textColor;

    @media screen and (min-width: 768px) {
      font-size: 20px;
      line-height: 24px;
    }
  }
}


