@import '../utils/variables.scss';

.collection-section {
  background-color: $lightSectionColor;
  padding-top: 60px;
  padding-bottom: 60px;

  &__title {
    text-align: center;
  }
}


.collection-card {
  // margin-top: 90px;
  
  &:nth-child(odd) {
    flex-direction: row-reverse;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__info {
    @media screen and (min-width: 768px) {
      max-width: 326px;
    }
  }
  
  &__title {
    margin-top: 20px;
    margin-bottom: 5px;
    color: $headingColor;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
  }

  &__subtitle {
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 20px;

    @media screen and (min-width: 768px) {
      font-size: 13px;
      line-height: 16px;
      margin-bottom: 20px;
    }
  }

  &__description {
    font-size: 16px;
    line-height: 1.1875;
    margin-bottom: 30px;

    @media screen and (min-width: 768px) {
      margin-bottom: 20px;
    }
  }

  &__property {
    display: flex;
    align-items: center;
  }
  &__property:not(:last-child) {
    margin-bottom: 5px;
  }

  &__property-text {
    color: #343434;
    font-size: 20px;
  }
}

.collection-card__info > p:nth-of-type(1) {
  margin-bottom: 19px;
}