@import '../utils/variables.scss';

.collection-section {
  background-color: $lightSectionColor;

  &__container {
    padding: 180px 312px;
  }

  &__title {
    text-align: center;
  }
}


.collection-card {
  margin-top: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:nth-child(odd) {
    flex-direction: row-reverse;
  }

  &__title {
    margin-bottom: 8px;
    color: $headingColor;
    font-weight: 600;
    font-size: 36px;
  }

  &__subtitle {
    margin-bottom: 38px;
    font-weight: 600;
    font-size: 20px;
  }

  &__description {
    width: 635px;
    font-size: 16px;
    line-height: 1.1875;
    margin-bottom: 38px;
  }

  &__property {
    display: flex;
    align-items: center;
  }
  &__property:not(:last-child) {
    margin-bottom: 19px;
  }

  &__property-text {
    color: #343434;
    font-size: 20px;
  }
}

.collection-card__info > p:nth-of-type(1) {
  margin-bottom: 19px;
}