@import '../utils/variables';

.footer {
  background-color: #E2D4BD;

  &__container {

  }

  &__logo {
  }

  // &__logo-image {
  //   display: block;
  // }
}

.footer-contacts {
  list-style: none;
  margin-right: 36px;
  font-size: 20px;
  line-height: 1.2;

  &__contact:first-child {
    margin-right: 30px;
  }

  &__contact-link {
    text-decoration: none;
    color: $textColor;
    font-size: 16px;
    line-height: 19px;

    & span {
      font-weight: 700;
    }
  }
}

.footer-navigation {
  &__link {
    display: block;
    text-decoration: none;
    width: fit-content;
    height: fit-content;
  }
}