.header {
  display: flex;
  align-items: center;
  padding:54px 312px 0;
  margin-left: auto;
  margin-right: auto;

  &__logo {
    margin-right: 295px;
  }
}

.header-list {
  display: flex;

  &__item {
    & > a {
      color: #FFFF;
    }
    &:not(:first-child) {
      margin-left: 40px;
    }
  }

  &__text {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.22;
  }
}