.hero {
  color: #FFFFFF;
  height: 1080px; 
  background-image: url('../../images/hero-image.jpg');
  background-repeat: no-repeat;
}

.hero-info {
  width: 525px;
  margin: 145px 314px 296px 1082px;

  &__name {
    font-weight: 600;
    font-size: 24px;
    text-transform: uppercase;
  }

  &__title {
    margin-top: 17px;
    margin-bottom: 37px;
    font-weight: 700;
    font-size: 60px;
    text-transform: uppercase;
  }

  &__description {
    margin-bottom: 54px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.4;
  }

  &__price {
    display: flex;
    align-items: baseline;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.22;
    margin-bottom: 54px;
  }

  &__price-number {
    font-weight: 700;
    font-size: 40px;
    margin-right: 10px;
  }

  &__button {
    padding: 20px 71px;
    background-color: #A70B27;
    border-radius: 60px;
    border: none;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    color: #FFFFFF;
  }
}