.hero {
  position: relative;
  color: #FFFFFF;
  min-height: 800px;
  background-image: url('../../images/320px/hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media screen and (min-width: 768px) {
    min-height: 1024px;
    background-image: url('../../images/768px/hero.jpg');
  }
  @media screen and (min-width: 1200px) {
    background-image: url('../../images/hero-image.jpg');
  }
}

.hero-info {
  @media screen and (min-width: 768px) {
    max-width: 567px;
  }

  &__name {
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
      font-size: 24px;
    }
  }

  &__title {
    margin-top: 10px;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
      margin-top: 15px;
      margin-bottom: 25px;
      font-size: 60px;
      line-height: 73px;
    }
    @media screen and (min-width: 1200px) {
      margin-top: 17px;
      margin-bottom: 37px;
    }
  }

  &__description {
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;

    @media screen and (min-width: 768px) {
      margin-bottom: 15px;
      font-size: 20px;
      line-height: 1.4;
    }
    @media screen and (min-width: 1200px) {
      margin-bottom: 54px;
    }
  }

  &__price {
    display: flex;
    align-items: baseline;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 30px;

    @media screen and (min-width: 768px) {
      margin-bottom: 25px;
      font-size: 24px;
      line-height: 29px;
    }
    @media screen and (min-width: 1200px) {
      margin-bottom: 54px;
    }
  }

  &__price-number {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;

    @media screen and (min-width: 768px) {
      font-size: 40px;
      line-height: 48px;
    }
  }
}