@import '../utils/variables.scss';

.history-section {
  background-color: $lightSectionColor;

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__image {
    display: block;
  }
}

.history-info {
  width: 636px;
  margin-right: 134px;

  &__text {
    margin-top: 48px;
    color: $textColor;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}
