@import '../utils/variables';

.packing-section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $darkerSectionColor;

  &__wrapper {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__title {
    margin-bottom: 30px;
    text-align: center;
  }

  &__image {
    display: block;
    text-align: center;
  }
}

.packing-info {
  @media screen and (min-width: 1200px) {
    margin-right: 140px;
  }
  &__description {
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 19px;

    @media screen and (min-width: 1200px) {
      margin-bottom: 25px;
    }

    @media screen and (min-width: 1200px) {
      font-size: 24px;
      line-height: 29px;
      margin-bottom: 90px;
    }
  }

  &__box {
    color: $headingColor;
    font-size: 16px;
    text-align: center;
  }
  &__box.name {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
  }
}
@media screen and (min-width: 768px) {
  .packing-info {
    display: flex;
    flex-direction: column;
  }

  .packing-info__box.name {
    order: 1;
    text-align: left;
  }

  .packing-info__box {
    order: 2;
    text-align: left;
  }
}