@import '../utils/variables.scss';

.production-section {
  background-color: $darkerSectionColor;
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 768px) {
    padding-top: 66px;
    padding-bottom: 90px;
  }

  &__cards-box {
    @media screen and (min-width: 1200px) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__title {
    margin-top: 0;
  }
}

.production-card {
  margin-top: 30px;

  @media screen and (min-width: 768px) {
    margin-top: 45px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 330px;
  }

  &__description {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 19px;

    @media screen and (min-width: 768px) {
      margin-top: 25px;
      font-size: 20px;
    }
  }

  &__image {
    display: block;
  }
}