@import '../utils/variables.scss';

.production-section {
  background-color: $darkerSectionColor;

  &__cards-box {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    margin-bottom: 90px;
    text-align: center;
  }
}

.production-card {
  width: 330px;

  &__description {
    margin-top: 32px;
    font-size: 20px;
  }

  &__image {
    display: block;
  }
}