@import '../utils/variables';

.reviews-section {
  margin-bottom: 180px;

  &__title {
    margin-bottom: 90px;
    text-align: center;
  }

  &__review-wrapper {
    display: flex;
  }
}

.review-card {
  min-width: 0;
  min-height: 268px;
  padding: 32px;
  background-color: $darkerSectionColor;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &:not(:last-child) {
    margin-right: 24px;
  }

  & > div {
    display: flex;
    align-items: center;
    margin-top: 30px;
    min-width: 0;
  }

  &__comment {
    font-size: 20px;
    min-width: 0;
  }

  &__avatar {
    border-radius: 50%;
    margin-right: 12px;
  }

  &__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
  }

  &__email {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.25;
    text-decoration-line: underline;
    color: $headingColor;
  }
}